:root {
    --background-canvas: #dce0e8;
    --background-card: #eff1f5;
    --background-header: #eff1f5;
    --background-hover-glass: rgba(30, 102, 245, 0.1);
    --background-surface: #e6e9ef;
    --background-upload-hover: #e6e9ef;
    --background-upload: #eff1f5;
    --background-result-match: rgba(64, 160, 43, 0.25);
    --background-result-mismatch: rgba(210, 15, 57, 0.25);
    --background-result-unknown: rgba(223, 142, 29, 0.25);
    --border-result-match: rgba(64, 160, 43, 1);
    --border-result-mismatch: rgba(210, 15, 57, 1);
    --border-result-unknown: rgba(223, 142, 29, 1);
    --border-dark: #bcc0cc; 
    --border-dashed: #9ca0b0;
    --border-light: #ccd0da;
    --color-danger-fg: #f38ba8;
    --color-danger: #d20f39;
    --color-harmless: #40a02b;
    --color-malicious: #d20f39;
    --color-match-fg: #a6e3a1;
    --color-match: #40a02b;
    --color-suspicious: #df8e1d;
    --color-unknown-fg: #f9e2af;
    --color-unknown: #df8e1d;
    --menu-width: 20vw;
    --primary: #1e66f5;
    --secondary: #df8e1d;
    --text-main: #4c4f69;
    --text-muted-light: #5c5f77;
    --text-muted: #6c6f85;
}