:root {
    --primary: #89b4fa;
    --secondary: #f9e2af;
    --bg-header: #11111b;
    --bg-canvas: #1e1e2e; 
    --bg-card: #313244; 
    --bg-surface: #313244;
    --bg-upload: #1e1e2e; 
    --bg-upload-hover: #313244;
    --bg-hover-glass: rgba(137, 180, 250, 0.1);
    --text-main: #cdd6f4;    
    --text-muted: #a6adc8;  
    --text-muted-light: #bac2de; 
    --border-light: #45475a;
    --border-dark: #585b70; 
    --border-dashed: #6c7086; 
    --color-malicious: #d20f39;
    --color-suspicious: #df8e1d;
    --color-harmless: #40a02b;
    --color-danger: #f38ba8;
    --color-match: #a6e3a1;
    --color-danger-fg: #d20f39;
    --color-unknown: #f9e2af;
    --color-match-fg: #40a02b;
    --color-unknown-fg: #df8e1d;
    --menu-width: 20vw;
}