<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyaruhodo!</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script>
        (function() {
            var useragent = navigator.userAgent || "";
            var ismobile = /Mobi|Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(useragent);
            var structurefilename = ismobile ? "structure-mobile.css" : "structure.css";
            document.write('<link rel="stylesheet" href="{{ url_for("static", filename="") }}' + structurefilename + '">');
        })();
    </script>
    <link id="current-theme" rel="stylesheet" href="{{ url_for('static', filename='light-mode.css') }}">
</head>
<body>
<nav class="navbar">
    <a href="/" class="brand">Nyaruhodo!</a>
</nav>
<div class="nav-links">
    {% if session.get('user_id') %}
    {% if session.get('is_admin') %}
    <a href="{{ url_for('AdminDashboard') }}">Admin Dashboard</a>
    {% endif %}
    <a href="{{ url_for('Dashboard') }}">Dashboard</a>
    <a href="{{ url_for('SignOut') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('SignIn') }}">SignIn</a>
    <a href="{{ url_for('Register') }}">Register</a>
    {% endif %}
</div>
<div class="main-wrapper">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>